<form id="create-post" class="post-submit" action="" method="post">
  <input type="text" name="title" class="post-title" value="">
  <textarea name="body" class="post-body" rows="8" cols="40"></textarea>
  <input type="submit" class="post-submit" value="Submit Post">
</form>
